:root {
    --mainRed: #ce0000;
    --cardRed: #F44336;
    --main-green: #22b14c;
    --social-blue: #00aff0;
    --social-red: #e4405f;
    --social-green: #25d366;
}

@font-face {
    font-family: iranSans;
    src: url(../fonts/IRANSans.woff);
}

html, body {
    margin: 0;
    padding: 0;
    font-family: iranSans !important;
    background: #EEEEEE;
    text-align: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


a:hover {
    text-decoration: none;
}

input:focus, textarea:focus, button:focus {
    outline: none !important;
    box-shadow: none !important;
}

ul {
    padding: 0.5rem;
    list-style: none;
}
p , h1,h2,h3,h4,h5,h6{
    line-height: 30px;
}

/************ Header ***************/
.dv-navbar {
    background: #fff;
    padding: 1.5rem 0 2vh 0;
    box-shadow: 0 5px 50px 0 #7070708f;
}
.text-red{
    color: var(--mainRed);
}
.f-32{
    font-size: 32px;
}
.dv-search-form{
    width: 100%;
}
.dv-navbar-brand:hover{
    color: var(--mainRed);
}
.text-gray{
    color: #808080 !important;
    font-size: 14px;
}
.dv-search-form input ,.dv-search-form input:focus{
    padding: 1.5rem 4rem 1.5rem 1rem;
    width: 100% !important;
    border-radius: 20px;
    background-color:#F6F6F6;
    border: none;
}

.dv-search-form input::placeholder {
    color: #9C9C9C;
    font-size: 14px;
}

.dv-search-btn {
    position: absolute;
    right: 2rem;
    top: 0.3rem;
    background: transparent;
    border: none;
    color: var(--mainRed);
    font-size: 24px;
}

.dv-dropdown-menu{
    width: 100%;
}
.dv-nav-item {
    background: #fff;
    border-radius: 5px;
    color: #000;
    width: 142px;
    height: 45px;
    font-size: 14px;
    padding-right: 1rem;
    transition: all 0.3s linear;
}

.dv-nav-item:hover {
    background: #e0e0e0;
}
.dv-dropdown-menu .nav-item {
    margin: 0 0 0 2.5vh;
    color: rgba(0,0,0,.5);
}

.dv-nav-item a {
    color: #000;
}

.dv-nav-item span {
    padding-right: 0.5rem;
}

.dv-dropdown-content .dropdown-toggle::after{
    color: var(--mainRed);
}
.dv-dropdown-menu .dropdown-toggle {
    display: flex;
    align-items: center;
}

.dv-dropdown-menu .dropdown-toggle::after {
    margin-right: 0.5rem;
}

.dv-dropdown-menu .dropdown-menu {
    /*transform: translateX(-50%);*/
    /*left: 50%;*/
    border-top: 1px solid var(--mainRed);
}

.dv-mega-menu{
    width: 100vw;
    min-height: 320px;
    position: fixed !important;
    left: 0 !important;
    top: 154px;
    z-index: 0;
}

.dv-header-icons{
    color: #808080;
    font-size: 18px;
    padding: 0.7rem 0 0 1rem !important;
}
.dv-card-items-number{
    position: absolute;
    top: 0.4rem;
    right: -0.5rem;
    background-color: var(--mainRed);
    color: #fff;
    min-width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-radius: 50%;
}
.dv-toggler-btn{
    color: #000;
    position: absolute;
    top: 0;
    left: 0;
}
.dv-navbar .fa-bars {
    color: #000;
    font-size: 32px;
}
@media (min-width: 1367px) {
    .dv-dropdown-menu .nav-item {
        margin: 0 0 0 2rem;
    }
}
@media (max-width: 992px) {
    .dv-mega-menu{
        position: absolute !important;
        top: 2.5rem !important;
        right: 0 !important;
        width: 90vw;
        z-index: 1;
    }
    .dv-dropdown-menu .nav-item {
        height: 40px;
    }
}
.bg-light {
    background: #FFF !important;
    border-radius: 10px;
}
/************ End Header ***************/

/************* Start main ***************/
