:root {
    --mainRed: #ce0000;
    --lightRed: #FB2A27;
    --cardRed: #F44336;
    --main-green: #22b14c;
    --social-blue: #00aff0;
    --social-red: #e4405f;
    --social-green: #25d366;
}

@font-face {
    font-family: iranSans;
    src: url(../fonts/IRANSans.woff);
}

html, body {
    margin: 0;
    padding: 0;
    font-family: iranSans !important;
    background: #fff;
    text-align: right;
    overflow-x: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


a:hover {
    text-decoration: none;
}

input:focus, textarea:focus, button:focus {
    outline: none !important;
    box-shadow: none !important;
}

ul {
    padding: 0.5rem;
    list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
    line-height: 30px;
}

/************ Header ***************/
.dv-navbar {
    background: #fff;
    padding: 1.5rem 0 2vh 0;
    box-shadow: 0 5px 50px 0 #7070708f;
}

.text-red {
    color: var(--mainRed);
}

.f-32 {
    font-size: 32px;
}

.dv-search-form {
    width: 100%;
}

.dv-navbar-brand:hover {
    color: var(--mainRed);
}

.text-gray {
    color: #808080 !important;
    font-size: 14px;
}

.dv-search-form input, .dv-search-form input:focus {
    padding: 1.5rem 4rem 1.5rem 1rem;
    width: 100% !important;
    border-radius: 20px;
    background-color: #F6F6F6;
    border: none;
}

.dv-search-form input::placeholder {
    color: #9C9C9C;
    font-size: 14px;
}

.dv-search-btn {
    position: absolute;
    right: 2rem;
    top: 0.3rem;
    background: transparent;
    border: none;
    color: var(--mainRed);
    font-size: 24px;
}

.dv-dropdown-menu {
    width: 100%;
}

.dv-nav-item {
    background: #fff;
    border-radius: 5px;
    color: #000;
    width: 142px;
    height: 45px;
    font-size: 14px;
    padding-right: 1rem;
    transition: all 0.3s linear;
}

.dv-nav-item:hover {
    background: #e0e0e0;
}

.dv-dropdown-menu .nav-item {
    margin: 0 0 0 2.5vh;
    color: rgba(0, 0, 0, .5);
}

.dv-nav-item a {
    color: #000;
}

.dv-nav-item span {
    padding-right: 0.5rem;
}

.dv-dropdown-content .dropdown-toggle::after {
    color: var(--mainRed);
}

.dv-dropdown-menu .dropdown-toggle {
    display: flex;
    align-items: center;
}

.dv-dropdown-menu .dropdown-toggle::after {
    margin-right: 0.5rem;
}

.dv-dropdown-menu .dropdown-menu {
    /*transform: translateX(-50%);*/
    /*left: 50%;*/
    border-top: 1px solid var(--mainRed);
}

.dv-navbar .nav-item.dropdown {
    position: unset !important;
}

.dv-mega-menu {
    width: 100vw;
    min-height: 320px;
    transform: translate(19%, 17%);
    left: auto;
    border-top: 1px solid var(--mainRed);
    right: 0;
    top: 0;
    z-index: 99;
}

.dv-header-icons {
    color: #808080;
    font-size: 18px;
    padding: 0.7rem 0 0 1rem !important;
}

.dv-card-items-number {
    position: absolute;
    top: 0.4rem;
    right: -0.5rem;
    background-color: var(--mainRed);
    color: #fff;
    min-width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-radius: 50%;
}

.dv-toggler-btn {
    color: #000;
    position: absolute;
    top: 0;
    left: 0;
}

.dv-navbar .fa-bars {
    color: #000;
    font-size: 32px;
}

.bg-light {
    background: #FFF !important;
    border-radius: 10px;
}

/************ End Header ***************/

/************* Start main ***************/
.menuSwiper {
    min-width: 300px;
    max-width: 380px;
    height: 100%;
}

.menuSwiper .swiper-slide {
    background-position: center;
    background-size: cover;
    min-width: 300px;
    max-width: 380px;
}

.menuSwiper .swiper-slide img {
    display: block;
    width: 100%;
}

.f-14 {
    font-size: 14px;
}

.f-16 {
    font-size: 16px;
}

.dv-menu-item {
    margin-bottom: 0.75rem;
}

.dv-menu-item a {
    color: #212121;
    transition: all 0.25s linear;
}

.dv-menu-item a:hover {
    color: var(--mainRed);
}

.BannerSwiper.swiper {
    width: 100%;
    height: 446px;
}

.samsungSlider.swiper {
    width: 100%;
    height: 303px;
    position: relative;
}

.BannerSwiper .swiper-slide, .samsungSlider .swiper-slide {
    background-position: center;
    background-size: cover;
    height: inherit;
}

.BannerSwiper .swiper-slide a, .BannerSwiper .swiper-slide a img, .samsungSlider .swiper-slide a, .samsungSlider .swiper-slide a img {
    display: block;
    width: 100%;
    height: inherit;
}

.BannerSwiper .swiper-button-prev, .BannerSwiper .swiper-container-rtl .swiper-button-next {
    left: 4rem;
}

.BannerSwiper .swiper-button-next, .BannerSwiper .swiper-container-rtl .swiper-button-prev {
    right: 4rem;
}

.samsungSlider .swiper-button-prev, .samsungSlider .swiper-container-rtl .swiper-button-next {
    left: 2rem;
}

.samsungSlider .swiper-button-next, .samsungSlider .swiper-container-rtl .swiper-button-prev {
    right: 2rem;
}

/*for All sliders*/
.BannerSwiper .swiper-button-prev:after, .BannerSwiper .swiper-container-rtl .swiper-button-next:after, .BannerSwiper .swiper-button-next:after, .BannerSwiper .swiper-container-rtl .swiper-button-prev:after, .samsungSlider .swiper-button-prev:after, .samsungSlider .swiper-container-rtl .swiper-button-next:after, .samsungSlider .swiper-button-next:after, .samsungSlider .swiper-container-rtl .swiper-button-prev:after {
    color: #fff;
}

.samsungSlider .swiper-button-prev:after, .samsungSlider .swiper-container-rtl .swiper-button-next:after, .samsungSlider .swiper-button-next:after, .samsungSlider .swiper-container-rtl .swiper-button-prev:after {
    font-size: 24px;
}

.swiper-pagination-bullet {
    background-color: rgba(256, 256, 256, 0.95);
    width: 18px;
    height: 18px;
}

.swiper-pagination-bullet-active {
    background-color: #fff !important;
}

/*for All sliders*/

.dv-black-banner, .dv-agsat-banner, .dv-anner-banner {
    width: 100%;
}

.dv-black-banner a, .dv-agsat-banner a, .dv-anner-banner a {
    width: inherit;
}

.dv-black-banner a img {
    width: inherit;
    height: 88px;
}

.dv-agsat-banner a img, .dv-anner-banner a img {
    width: inherit;
    height: 198px;
}

.dv-product-card {
    background: #fff;
    /*width: 310px;*/
    height: 430px;
    transition: all 0.25s linear;
    padding: 1rem;
}

.dv-discount-price {
    background: var(--lightRed);
    border-radius: 20px;
    color: #fff;
    width: 68px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;
}

.dv-discount-price-offer {
    background: var(--lightRed);
    border-radius: 20px;
    color: #fff;
    width: 68px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-red {
    color: var(--lightRed);
}

.dv-card-img-top {
    display: block;
    margin: auto;
    width: 240px;
    height: 277px;
}

.dv-card-img-top img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    transform: scale(0.85);
    transition: all 0.25s linear;
}

.dv-product-card:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.dv-product-card:hover img {
    transform: scale(0.9);
}

.offerSlider.swiper {
    width: 100%;
    /*height: 100%;*/
    position: relative;
}

.offerSlider .swiper-wrapper {
    height: auto;
}

.offerSlider .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.offerSlider .swiper-slide .dv-offer-cards {
    display: block;
    width: 100%;
    height: 246px;
    border: 1px solid rgba(184, 184, 184, 0.35);
    border-radius: 0;
    padding: 1rem;
}

.dv-offer-img {
    height: 210px;
    width: 221px;
}

.dv-offer-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dv-offer-text {
    height: 210px;
}

.offerSlider .swiper-button-prev, .offerSlider .swiper-container-rtl .swiper-button-next {
    right: 1rem;
}

.offerSlider .swiper-button-next, .offerSlider .swiper-container-rtl .swiper-button-prev {
    left: 1rem;
}

/*for All sliders*/
.offerSlider .swiper-button-prev:after,
.offerSlider .swiper-container-rtl .swiper-button-next:after,
.offerSlider .swiper-button-next:after,
.offerSlider .swiper-container-rtl .swiper-button-prev:after {
    font-size: 18px;
    color: rgba(24, 11, 37, 0.97);
}

.dv-banners-after-offer {
    width: 100%;
    height: 222px;
}

.dv-banners-after-offer img {
    display: block;
    width: 100%;
    height: 100%;
}

.dv-blog-card {
    display: block;
    width: 100%;
    height: 460px;
    border: 1px solid rgba(184, 184, 184, 0.35);
    border-radius: 0;
    padding: 1rem;
}

.dv-blog-card-img-top {
    display: block;
    width: 100%;
    height: 284px;
    object-fit: cover;
}

.dv-blog-card-img-top img {
    display: block;
    margin: auto;
    height: inherit;
}

.f-18 {
    font-size: 18px;
}

.dv-product-card-text p.dv-blog-description {
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.text-orange {
    color: var(--lightRed);
}

.f-13 {
    font-size: 13px;
}

.dv-footer-link {
    color: #BEDBFF;
    font-size: 16px;
    transition: all 0.2s linear;
}

.dv-footer-link:hover {
    color: #fff;
}

.dv-footer-form input {
    background: #fff;
    border-radius: 0 10px 10px 0;
    border: none;
    font-size: 16px;
    padding: 0.75rem 1.25rem;
    width: 80%;
}

.dv-footer-form input::placeholder {
    color: #AFAFAF;
}

.dv-footer-form input:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.dv-footer-form button {
    background: var(--lightRed);
    color: #fff;
    border: none;
    padding: 0.75rem 1.25rem;
    border-radius: 10px 0 0 10px;
    width: 20%;
}

.dv-footer {
    background-color: #0F0914;
}

.dv-copy-right {
    background: #1D1229;
    padding: 1rem 0;
}

.dv-footer-social i {
    color: #FFFFFF;
    font-size: 26px;
}

.dv-product-dropdown-menu {
    position: absolute;
    transform: translate3d(0, 0, 0) !important;
    top: 25px !important;
    right: 0 !important;
    left: auto !important;
    will-change: transform;
}

.dv-product-toggle::after {
    font-family: "Font Awesome 6 Pro";
    content: "\f104" !important;
    border: none !important;
    padding-right: 0.2rem;
}

.dv-product-sidebar-card {
    border: 1px solid rgba(0, 0, 44, 0.19);
    padding: 1rem;
}

.fa-times-circle {
    background-color: #fff;
    color: var(--mainRed);
    font-size: 18px;
}

.cursor-pointer {
    cursor: pointer;
}

.ui-widget-header {
    background: var(--mainRed) !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    background-color: #fff;
    border-radius: 50% !important;
    border-color: #AC8697 !important;
}

.wrapper {
    width: 100%;
}

.panel-heading {
    padding: 0;
    border: 0;
}

.panel-title > a, .panel-title > a:active {
    display: block;
    padding: 15px;
    color: #555;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-decoration: none;
}

.panel-heading a:before {
    font-family: "Font Awesome 6 Pro";
    content: "\f106" !important;
    float: left;
    transition: all 0.5s;
}

.panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.dv-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0
}

.checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    border-radius: 5px;
    background-color: #eee
}

.dv-checkbox-text {
    padding-right: 5vh
}

.dv-checkbox:hover input ~ .checkmark {
    background-color: #ccc
}

.dv-checkbox input:checked ~ .checkmark {
    background-color: var(--mainRed)
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none
}

.dv-checkbox input:checked ~ .checkmark:after {
    display: block
}

.dv-checkbox .checkmark:after {
    left: 8px;
    top: 2px;
    width: 6px;
    height: 13px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch input:checked + .slider {
    background-color: var(--mainRed);
}

.switch input:focus + .slider {
    box-shadow: 0 0 1px var(--mainRed);
}

.switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.switch .slider.round {
    border-radius: 34px;
}

.switch .slider.round:before {
    border-radius: 50%;
}

.dv-colors-type{
    position: absolute;
    top: 2rem;
    right: 2rem;
}
.dv-color-type-items{
    width: 14px;
    height: 14px;
    border-radius: 50%;
}
.fit-content{
    width: fit-content;
}

.page-item .page-link {
    color: #000;
    border: none
}

.page-item .page-link {
    border: 1px solid #707070;
    border-left: 0;
    border-right: 0
}

.page-item .page-link:hover {
    background: transparent
}

.dv-page-item-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #c0c1c1;
    color: #fff;
}

.page-item .page-link.active .dv-page-item-bg {
    background: var(--mainRed);
    color: #fff
}

.page-item.next .page-link {
    border: 1px solid #707070;
    border-right: 0 !important;
    height: 100%
}

.page-item.prev .page-link {
    border: 1px solid #707070;
    border-left: 0 !important;
    height: 100%;
    border-radius: 0 3vh 3vh 0 !important
}

.page-item.next .page-link {
    border-radius: 3vh 0 0 3vh !important
}

@media (min-width: 992px) {
    .px-md-8 {
        padding: 3rem 6rem;
    }

    .footer-social-px-md-8 {
        padding: 1rem 6rem;
    }

    .footer-px-md-8 {
        padding: 4rem 6rem 0;
    }

    .footer-copyright-px-md-8 {
        padding: 0 6rem;
    }
}

@media (min-width: 1367px) {
    .dv-dropdown-menu .nav-item {
        margin: 0 0 0 2rem;
    }
}

@media (max-width: 1100px) {
    .dv-mega-menu {
        position: absolute !important;
        top: 2.5rem !important;
        right: 0 !important;
        width: 85vw;
        z-index: 1;
    }

    .menuSwiper, .menuSwiper .swiper-slide {
        min-width: 350px;
        max-width: 400px;
    }
}

@media (max-width: 992px) {
    .dv-dropdown-menu .nav-item {
        height: 40px;
    }

    .menuSwiper, .menuSwiper .swiper-slide {
        min-width: 300px;
        max-width: 350px;
    }

    .px-md-8, .footer-copyright-px-md-8 {
        padding: 1rem;
    }

    .footer-px-md-8 {
        padding: 3rem 1rem;
    }

    .footer-social-px-md-8 {
        padding: 1rem;
    }
}

@media (max-width: 768px) {
    .BannerSwiper.swiper {
        width: 100%;
        height: 310px;
    }

    .samsungSlider .swiper-button-prev, .samsungSlider .swiper-container-rtl .swiper-button-next, .BannerSwiper .swiper-button-prev, .BannerSwiper .swiper-container-rtl .swiper-button-next {
        left: 1rem;
    }

    .BannerSwiper .swiper-button-next, .BannerSwiper .swiper-container-rtl .swiper-button-prev, .samsungSlider .swiper-button-next, .samsungSlider .swiper-container-rtl .swiper-button-prev {
        right: 1rem;
    }

    .BannerSwiper .swiper-button-prev:after, .BannerSwiper .swiper-container-rtl .swiper-button-next:after, .BannerSwiper .swiper-button-next:after, .BannerSwiper .swiper-container-rtl .swiper-button-prev:after, .samsungSlider .swiper-button-prev:after, .samsungSlider .swiper-container-rtl .swiper-button-next:after, .samsungSlider .swiper-button-next:after, .samsungSlider .swiper-container-rtl .swiper-button-prev:after {
        font-size: 18px;
    }
}

@media (max-width: 420px) {
    .menuSwiper, .menuSwiper .swiper-slide {
        min-width: 250px;
        max-width: 300px;
    }

    .dv-mega-menu {
        width: 85vw;
    }
}